<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.canvasjs.com/jquery.canvasjs.min.js"></script>
    <script>
        window.onload = function () {
            function fetchDataAndDrawChart() {
                $.ajax({
                    url: {% block url_get_data_for_graphic %}{% endblock %},
                    method: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var chartData = [{
                            type: "spline",
                            dataPoints: data.map(function (item) {
                                return {
                                    x: new Date(item.created_timestamp),
                                    y: item.changed_price
                                };
                            })
                        }];

                        var options = {
                            title: {
                                text: "Spline Chart with Export as Image"
                            },
                            animationEnabled: true,
                            exportEnabled: true,
                            data: chartData
                        };
                        $("#chartContainer").CanvasJSChart(options);
                    },
                    error: function (error) {
                        console.log("Error fetching data:", error);
                    }
                });
            }
            fetchDataAndDrawChart();
        }
    </script>
</head>
<body>

<nav>
    <ul>
        <li><a href="{% url 'graphic:day' %}">За день</a></li>
        <li><a href="{% url 'graphic:week' %}">За неделю</a></li>
{#        <li><a href="{% url '' %}">За месяц</a></li>#}
        <li><a href="{% url 'graphic:max' %}">За все время</a></li>
    </ul>
</nav>

<main>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
</main>

</body>
</html>
